# Compiled binaries
bin/

# Compiled documentation
doc/_build/

# Datasets
data/

# Output data
output/

# Unwanted Python files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unwanted emacs files
*~

# Unwanted vim files
*.swp

# Screenshots
screenshot.jpg

